@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
     --branco-primaria: #FFFFFF;
     --vermelho-secundaria: #EC2F46;
     --preto-tercearia: #040814;
     --azul-quartenaria: #167BF7;
     --branco-quintaria: #C0C0C0;
     
     --fonte-principal: "Inter", sans-serif;
}

body{
     background-color: var(--preto-tercearia);
     color: var(--branco-primaria);
     font-family: var(--fonte-principal);
     font-size: 1rem;
     font-weight: 400;
}

*{
     margin: 0;
     padding: 0;
}


.principal{
     background-image: url("../assets/Background.png");
     background-repeat: no-repeat;
     background-size: contain;

     align-items: center;
     text-align: center;
}

.conteiner{
     height: 100vh;
     display: grid;
     grid-template-columns: 50% 50%;
}

.principal__div{
     margin: 0 6em;
}

.principal__conteudo__titulo{
     font-size: 1.75rem;
     font-weight: 700;
}

.principal__conteudo__imagem{
     margin: 1em 0 2em 0;
}

.principal__botao__alura{
     background-color: var(--azul-quartenaria);
     border-radius: 5px;
     padding: 1em;
     color: var(--branco-primaria);

     text-align: center;
     display: block;
     text-decoration: none;

     margin-bottom: 1em;
}

.botao__aluralingua__alteracoes{
     background-color: transparent;
     border: 2px solid var(--branco-primaria);
}

.principal__conteudo__paragrafo{
     font-size: 0.75rem;
     color: var(--branco-quintaria);
}

.secundario{
     align-items: center;
     margin: 0 10em;
}
.secundario__conteudo__imagem{
     width: 80%;
}

.secundario__descricao__titulo{
     font-size: 3rem;
     font-weight: 700;
     margin-bottom: 0.3em;
}

.secundario__descricao__texto{
     color: var(--branco-quintaria);
}

.terciario{
     align-items: center;
     margin: 0 0em 0 10em;
}


.terciario__conteudo__paragrafo{
     margin-bottom: 0.3em;
}

.terciario__conteudo__botao{
     display: inline-block;
     margin-top: 1em;
}

.secundario__descricao{
     padding: 2em;
}

.dispositivos{
     text-align: center;
}

.dispositivos__titulo{
     font-size: 3rem;
     margin-bottom: 1em;
}

.dispositivos__h3{
     font-size: 2rem;
}

.dispoditivos__lista{
     display: flex;
     justify-content: center;
     list-style-type: none;
}

.footer-final{
     align-items: center;
     text-align: center;
     margin: 10em 0em 0em 0em;
     
}

.footer-final__imagem{
     margin: 0em 0em 2em 0em;
}

.footer-final__lista{
     display: flex;
     justify-content: center;
     list-style: none;
     gap: 20px;
}

.lista__item a{
     color: var(--branco-primaria);
     
     text-decoration: none;
}

.lista__item a:hover{
     color: var(--azul-quartenaria);
}

.footer-final__paragrafo{
     font-size: 0.875rem;
     color: var(--branco-quintaria);
     margin: 3em 0em 2em 0em;
     padding: 0em 5em 0em 5em;
}





